@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #087f5b;
$text-color: #1e293b;
$gray-color: #1f2937;
$bg-color: #f8fafc;

// ! FONTS
$base-font-size: 10px;
$primary-font: "Poppins", sans-serif;
$base-padding: 10px;
